{% extends 'base.html.twig' %}

{% block title %}Timer index{% endblock %}

{% block body %}

    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="contain-block">
            <div class="wrapper wrapper--w780">
                <div class="button">
                    <a class='btn btn-info' href="{{ path('timer_new') }}">Créer un nouvel enregistrement de temps</a>
                </div>
                <div class="card card-3">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>DateT Debut</th>
                                    <th>Date Fin</th>
                                    <th>Cumul</th>
                                    <th>Commentaire</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>  
                            {% for timer in timers %}
                                <tr>
                                    <td>{{ timer.id }}</td>
                                    <td>{{ timer.DateTimeDebut ? timer.DateTimeDebut|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ timer.DateTimeFin ? timer.DateTimeFin|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ timer.CumulS }}</td>
                                    <td>{{ timer.TimerComment }}</td>
                                    <td>
                                        <a href="{{ path('timer_show', {'id': timer.id}) }}">show</a>
                                        <a href="{{ path('timer_edit', {'id': timer.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
