{% extends 'base.html.twig' %}

{% block title %}Timer index{% endblock %}

{% block body %}

    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="contain-block">
            <div class="wrapper wrapper--w780">
                <div class="button">
                    {% if timerEnCours == null %}
                        <a class='btn btn-info' href="{{ path('timer_new') }}">Créer un nouvel enregistrement de temps</a>
                    {% endif %}
                </div>
                <div class="card card-3">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Utilisateur</th>
                                    <th>Groupe</th>
                                    <th>Projet</th>
                                    <th>Date début</th>
                                    <th>Date fin</th>
                                    <th>Commentaires</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for OneTimer in timer %}
                                <tr>
                                    <td>{{ OneTimer.idUser.Name }} {{ OneTimer.idUser.LastName }}</td>
                                    <td>{{ OneTimer.idTeam.Name }} </td>
                                    <td>{{ OneTimer.idProject.nameProject }}</td>
                                    <td>{{ OneTimer.DateTimeDebut ? OneTimer.DateTimeDebut|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ OneTimer.DateTimeFin ? OneTimer.DateTimeFin|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ OneTimer.TimerComment }}</td>
                                    <td>
                                        <a href="{{ path('timer_show', {'id': OneTimer.id}) }}">Modifier</a>
                                        <a href="{{ path('timer_edit', {'id': OneTimer.id}) }}">Editer</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucun timer trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
