{% extends 'base.html.twig' %}

{% block title %}UserProject index{% endblock %}

{% block body %}
    <h1>UserProject index</h1>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="contain-block">
            <div class="wrapper wrapper--w780">
                <div class="button">
                    <a class='btn btn-info' href="{{ path('user_project_new') }}">Créer un nouvel utilisateur</a>
                </div>
                <div class="card card-3">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date_creation</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user_project in user_projects %}
                                <tr>
                                    <td>{{ user_project.id }}</td>
                                    <td>{{ user_project.DateCreation ? user_project.DateCreation|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('user_project_show', {'id': user_project.id}) }}">show</a>
                                        <a href="{{ path('user_project_edit', {'id': user_project.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
