{% extends 'base.html.twig' %}

{% block title %}UserProject{% endblock %}

{% block body %}
    <h1>UserProject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_project.id }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ user_project.DateCreation ? user_project.DateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_project_index') }}">back to list</a>

    <a href="{{ path('user_project_edit', {'id': user_project.id}) }}">edit</a>

    {{ include('user_project/_delete_form.html.twig') }}
{% endblock %}
