{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}

    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="contain-block">
            <div class="wrapper wrapper--w780">
                <div class="button">
                    <a class='btn btn-info' href="{{ path('project_new') }}">Créer un nouveau projet</a>
                </div>
                <div class="card card-3">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom du projet</th>
                                    <th>Date de création</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>{{ project.nameProject }}</td>
                                    <td>{{ project.dateCreation ? project.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a class='color_one' href="{{ path('project_show', {'id': project.id}) }}">Détail</a>
                                        <a class='color_two' href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucun projet</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
