<div class="wrapper wrapper--w780">
    <div class="card card-3">
        <div class="card-heading"></div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="input-group input--style-3">
                    {{ form_row(form.email) }}
                <div class="input-group input--style-3">
                    {{ form_row(form.password) }} 
                </div>
                <div class="p-t-10 btn btn--pill btn--green">
                    {{ form_row(form.save) }} 
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
