{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="contain-block">
            <div class="wrapper wrapper--w780">
                <div class='url card-3bis'><a href="{{ path('user_index') }}">Retour à la liste</a></div>
                    <div class="card card-3">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Prénom</th>
                                        <td>{{ user.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ user.lastName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Roles</th>
                                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Password</th>
                                        <td>{{ "C'est privé :)" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {{'Equipe gérée : <br>'}}
                            {% for team in user.getTeams %}
                                <li>{{ team.name }}</li>
                            {% endfor %}

                        </div>
                    </div>
                <div class='button'>
                    <button class='btn btn-info'><a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a></button>
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
